@import "bootstrap";

.thumbnail{
  display: block;
  width: 270px;
  height: 360px;
  .no-image{
    background-color: lightgray;
    display: block;
    width: 270px;
    height: 360px;
  }
}
.mini{
  display: block;
  width: 180px;
  height: 240px;
}

.long_text{
  word-break: break-all;
}