@import "bootstrap";
.howto_field{
  display: block;
  width: 300px;
}
.howto_block{
  display: block;
  width: 240px;
  height: auto;
}

.thumbnail{
  display: block;
  width: 300px;
  height: auto;
  max-height: 400px;
}
.mini{
  display: block;
  width: 240px;
  height: auto;
  max-height: 320px;
}

.long_text{
  word-break: break-all;
}

.toggle_none{
  display: none;
}
#detail_selection{
  display: none;
}

.color_bar{
  border-left: 10px solid #558dee;
}

.list_category{
  color: rgb(238, 172, 87);
}